# Days and Dates

This notebook *(a)* introduces the `Date` type; *(b)* how to do date arithmetics; *(c)*  how to convert to/from other date formats (for instance, from matlab).

## Load Packages and Extra Functions

In [1]:
using Printf, Dates

include("src/printmat.jl");

## Building a Calendar

In [2]:
dNb = Date(2014,1,31):Month(1):Date(2014,12,31)    #build a monthly calendar

printmat(dNb;colNames=["date"],width=13)

         date
   2014-01-31
   2014-02-28
   2014-03-31
   2014-04-30
   2014-05-31
   2014-06-30
   2014-07-31
   2014-08-31
   2014-09-30
   2014-10-31
   2014-11-30
   2014-12-31

# Time Arithmetics

You can add and subtract Dates from each other.

In [3]:
d1 = Date(2016,3,31)
d2 = Date(2016,4,30)

dif    = d2 - d1                           #count the number of days between d2 and d1
difRel = Dates.value(dif)/daysinyear(d1)   #Dates.value() is the datenumber, needs prefix Dates

println("difference between two dates: ",dif)
printlnPs("as a fraction of the year (approx): ",difRel)

difference between two dates: 30 days
as a fraction of the year (approx):      0.082

In [4]:
d3 = d1 + Month(1)          #one month after d1

println("d1 and one month later: ",d1," ",d3)

d1 and one month later: 2016-03-31 2016-04-30

# Looking up Day of the Week and More

In [5]:
println("day of the week of date: ",d1," ",dayofweek(d1))
println("day of the year of date: ",d1," ",dayofyear(d1))

(y,m,d)= yearmonthday(d1)            #splitting up a date
println("\nSplitting up a date: ",y," ",m," ",d)

day of the week of date: 2016-03-31 4
day of the year of date: 2016-03-31 91

Splitting up a date: 2016 3 31

# Printing a Date

with your own formatting (see the manual for many other formatting options)

In [6]:
println(Dates.format(d1,"d u yyyy"))                #needs prefix Dates
println(Dates.format(d1,"dd-mm-yyyy"))

31 Mar 2016
31-03-2016

# Converting from/to Other Date Formats

## Converting from/to Day Number

`datetime2rata()` creates a Julia day *number* from a Julia `Date`. (You can also use `Dates.value()` for that.) It counts the number of days since 0000-12-31. Day 1 is thus 0001-01-01. This could, for instance, be useful for communicating with other software.

The inverse is `rata2datetime()`, which creates `DateTime()` from a Julia day number. To drop the time part, apply the `Date()` function on the result.

In [7]:
d = Date(2016,3,31)
daynumber = datetime2rata(d)          #day number from date, or Dates.value()
d2  = Date(rata2datetime(daynumber))  #date from day number

printmat(d,daynumber,d2;colNames=["Original date","Julia day no","new date"],width=13)

Original date Julia day no     new date
   2016-03-31   736054       2016-03-31

## Converting from yyyymmdd

Downloaded financial data (eg. from finance.yahoo) often have dates like 20160331. The next cell shows how to create a Julia Date.

In [8]:
csvdate = 20160331 
jldate = Date(string(csvdate),"yyyymmdd")  #convert to string and then Julia Date
csvdate2 = Dates.format(d1,"yyyymmdd")     #Julia date to csv format 

printmat(csvdate,jldate,csvdate2;colNames=["Original date","Julia date","new date"],width=13)

Original date   Julia date     new date
 20160331       2016-03-31     20160331

## Converting from/to Matlab's datenum()

Matlab's `datenum()` also counts days since a starting date, but day 1 is here 0000-1-1, which is 366 days before day 1 in Julia. Conversion therefore requires subtracting/adding 366. In addition, mat files typically save the date number as a floating point number.

The conversion uses the approach for day numbers discussed above and is coded up in two functions in the next cell.

In [11]:
mlNum2jlDate(mlnum) = Date(rata2datetime(round(Int,mlnum) - 366))    #to Julia Date from matlab datenum
jlDate2mlNum(jldate) = datetime2rata(jldate) + 366.0

jlDate2mlNum (generic function with 1 method)

In [12]:
mlnum  = 736420.0            #to be converted, 2016-03-31
jldate = mlNum2jlDate(mlnum)
mlnum2 = jlDate2mlNum(jldate)

printmat([mlnum jldate mlnum2];colNames=["matlab","Julia","matlab 2"],width=13)

       matlab        Julia     matlab 2
   736420.000   2016-03-31   736420.000